.app{
  min-height: 100vh;
  background-color: #15171b;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.appComponents{
  min-height: 100vh;
  background-color: #6b6c70;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.expandPost {
  color: #6b6c70;
  display: flex;
  padding-left: 6%;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  max-width: 40vw;
}


.post {
  color: #15171b;
  display: flex;
  padding-left: 6%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 190px;
  width: 68%;
  border: 5px solid#15171b;
}

.posted {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 200px;
  min-width: 300px;
}

.postBox {
  background-color: rgb(241, 241, 43);
  display: flex;
  flex-direction: column;
  align-self: start;
  max-height: 100vh;
  min-width: 30vw;
  overflow-y: scroll;
}

.name {
  display: flex;
  align-self: flex-start;
  padding-top: 10%;
}

.message {
  display: flex;
  align-self: flex-start;
  padding-top: 10%;
}

.profileImg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  border-radius: 50%;
}

button{
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  text-decoration: none;
  background: none;
}