.app{
  min-height: 100vh;
  background-color: #15171b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center
}

.post {
  color: #454b57;
  display: flex;
  padding-left: 10%;
  padding-top: 6%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 190px;
  width: 68%;
  border: 5px solid black;
}

.posted {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 200px;
  min-width: 300px;
}

.postBox {
  background-color: rgb(241, 241, 43);
  display: flex;
  flex-direction: column;
  align-self: start;
  max-height: 100vh;
  max-width: 40vw;
  overflow-y: scroll;
}

.profileImg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  border-radius: 50%;
}